body {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
   
}

divv {
    display: flex;
     
    gap: 5px;
    
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
    
}

.content {
    width: 480x;
    height: 480px;
    display: flex;
    
    
    
}

