body {
    gap: 8px;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

divv {
    display: flex;
     
    
    
   
    
    
}

.content {
    width: 480x;
    height: 480px;
    display: flex;
    flex: 0 0 0;
    
   
    outline: 2px solid black;
    
}

button {
    gap: 8px;
    font-size: 30px;
}